{% extends 'base.html' %}
{% block one %}
        <br>
        <br>  

        <figure class="text-center">
            <blockquote class="blockquote">
            <p>WELCOME LITTLE ONE</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                <a href="{{url_for('contact_page')}}">Want to inquire our price list?<cite title="Source Title"></cite></a> 
            </figcaption>
        </figure>
        


        
        <!-- Photo Gallery here -->
        <div class="container masorny ">
            <div class="grid-images">
                <img src="static/gallery/newborn/1.jpg" alt="">
            </div>
            <div class="grid-images">
                <img src="static/gallery/newborn/2.jpg" alt="">
            </div>
            <div class="grid-images">
                <img src="static/gallery/newborn/3.jpg" alt="">
            </div>
            <div class="grid-images">
                <img src="static/gallery/newborn/4.jpg" alt="">
            </div>
            <div class="grid-images">
                <img src="static/gallery/newborn/5.jpg" alt="">
            </div>
            <div class="grid-images">
                <img src="static/gallery/newborn/6.jpg" alt="">
            </div>
            <div class="grid-images">
                <img src="static/gallery/newborn/7.jpg" alt="">
            </div>
            <div class="grid-images">
                <img src="static/gallery/newborn/8.jpg" alt="">
            </div>
            <div class="grid-images">
                <img src="static/gallery/newborn/9.jpg" alt="">
            </div>
            <div class="grid-images">
                <img src="static/gallery/newborn/10.jpg" alt="">
            </div>
            <div class="grid-images">
                <img src="static/gallery/newborn/11.jpg" alt="">
            </div>
        </div>

            

<br>
<br>

{% endblock %}