{% extends 'base.html' %}
{% block one %}
        <br>
        <br>  

        <figure class="text-center">
            <blockquote class="blockquote">
            <p>CHEERS TO THE BIRTHDAY BOY</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                <a href="{{url_for('contact_page')}}">Want to inquire our price list?<cite title="Source Title"></cite></a> 
            </figcaption>
        </figure>
        


        
        <!-- Photo Gallery here -->
        <div class="container masorny ">
            <div class="grid-images">
                <img src="static/gallery/birthday_and_circumcision/1.JPG" alt="">
            </div>
            <div class="grid-images">
                <img src="static/gallery/birthday_and_circumcision/2.JPG" alt="">
            </div>
            <div class="grid-images">
                <img src="static/gallery/birthday_and_circumcision/3.JPG" alt="">
            </div>
            <div class="grid-images">
                <img src="static/gallery/birthday_and_circumcision/4.JPG" alt="">
            </div>
            <div class="grid-images">
                <img src="static/gallery/birthday_and_circumcision/5.JPG" alt="">
            </div>
            <div class="grid-images">
                <img src="static/wedphoto/5.jpg" alt="">
            </div>
        </div>
        
            

<br>
<br>

{% endblock %}