{% extends 'base.html' %}
{% block one %}
        <br>
        <br>  

        <figure class="text-center">
            <blockquote class="blockquote">
            <p>THE STORY OF BIRTHDAY GIRL</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                <a href="{{url_for('contact_page')}}">Want to inquire our price list?<cite title="Source Title"></cite></a> 
            </figcaption>
        </figure>
        


        
        <!-- Photo Gallery here -->
        <div class="container masorny ">
            <div class="grid-images">
                <img src="static/gallery/birthday_party3/3.jpg" alt="">
            </div>
            <div class="grid-images">
                <img src="static/gallery/birthday_party3/4.jpg" alt="">
            </div>
            <div class="grid-images">
                <img src="static/gallery/birthday_party3/2.jpg" alt="">
            </div>
            <div class="grid-images">
                <img src="static/gallery/birthday_party3/1.jpg" alt="">
            </div>
            <div class="grid-images">
                <img src="static/gallery/birthday_party3/5.jpg" alt="">
            </div>
            <div class="grid-images">
                <img src="static/gallery/birthday_party3/6.jpg" alt="">
            </div>
            <div class="grid-images">
                <img src="static/gallery/birthday_party3/7.jpg" alt="">
            </div>
            <div class="grid-images">
                <img src="static/gallery/birthday_party3/8.jpg" alt="">
            </div>
            <div class="grid-images">
                <img src="static/gallery/birthday_party3/9.jpg" alt="">
            </div>
        </div>
        
            

<br>
<br>

{% endblock %}