{% extends 'base.html' %}
{% block one %}
        <br>
        <br>  

        <figure class="text-center">
            <blockquote class="blockquote">
            <p>AUTUMN IN THE VANDERBILT MUSEUM</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                <a href="{{url_for('contact_page')}}">Want to inquire our price list?<cite title="Source Title"></cite></a> 
            </figcaption>
        </figure>
        


        
        <!-- Photo Gallery here -->
        <div class="container masorny ">
            <div class="grid-images">
                <img src="static/gallery/museum_walk/1.jpg" alt="">
            </div>
            <div class="grid-images">
                <img src="static/gallery/museum_walk/3.jpg" alt="">
            </div>
            <div class="grid-images">
                <img src="static/gallery/museum_walk/4.jpg" alt="">
            </div>
            <div class="grid-images">
                <img src="static/gallery/museum_walk/5.jpg" alt="">
            </div>
            <div class="grid-images">
                <img src="static/gallery/museum_walk/2.jpg" alt="">
            </div>
            <div class="grid-images">
                <img src="static/gallery/museum_walk/6.jpg" alt="">
            </div>
            <div class="grid-images">
                <img src="static/gallery/museum_walk/7.jpg" alt="">
            </div>
            <div class="grid-images">
                <img src="static/gallery/museum_walk/8.jpg" alt="">
            </div>
            <div class="grid-images">
                <img src="sstatic/gallery/museum_walk/9.jpg" alt="">
            </div>
            <div class="grid-images">
                <img src="static/gallery/museum_walk/10.jpg" alt="">
            </div>
            <div class="grid-images">
                <img src="static/gallery/museum_walk/11.jpg" alt="">
            </div>
        </div>

            

<br>
<br>

{% endblock %}