{% extends "base.html" %}
{% block one %}
    <!-- Photo Gallery here -->
    <div class="container masorny ">
        <div class="grid-images">
            <img src="static/wedphoto/0.jpg" alt="">
        </div>
        <div class="grid-images">
            <img src="static/wedphoto/1.jpg" alt="">
        </div>
        <div class="grid-images">
            <img src="static/wedphoto/2.jpg" alt="">
        </div>
        <div class="grid-images">
            <img src="static/wedphoto/3.jpg" alt="">
        </div>
        <div class="grid-images">
            <img src="static/wedphoto/4.jpg" alt="">
        </div>
        <div class="grid-images">
            <img src="static/wedphoto/5.jpg" alt="">
        </div>
        <div class="grid-images">
            <img src="static/wedphoto/6.jpg" alt="">
        </div>
        <div class="grid-images">
            <img src="static/wedphoto/7.jpg" alt="">
        </div>
        <div class="grid-images">
            <img src="static/wedphoto/8.jpg" alt="">
        </div>
        <div class="grid-images">
            <img src="static/wedphoto/9.jpg" alt="">
        </div>
        <div class="grid-images">
            <img src="static/wedphoto/10.jpg" alt="">
        </div>
        <div class="grid-images">
            <img src="static/wedphoto/11.jpg" alt="">
        </div>
        <div class="grid-images">
            <img src="static/wedphoto/12.jpg" alt="">
        </div>
        <div class="grid-images">
            <img src="static/wedphoto/13.jpg" alt="">
        </div>
        <div class="grid-images">
            <img src="static/wedphoto/14.jpg" alt="">
        </div>
        <div class="grid-images">
            <img src="static/wedphoto/15.jpg" alt="">
        </div>
        <div class="grid-images">
            <img src="static/wedphoto/16.jpg" alt="">
        </div>
        <div class="grid-images">
            <img src="static/wedphoto/17.jpg" alt="">
        </div>
        <div class="grid-images">
            <img src="static/wedphoto/18.jpg" alt="">
        </div>
        <div class="grid-images">
            <img src="static/wedphoto/19.jpg" alt="">
        </div>
        <div class="grid-images">
            <img src="static/wedphoto/20.jpg" alt="">
        </div>
        <div class="grid-images">
            <img src="static/wedphoto/21.jpg" alt="">
        </div>
        <div class="grid-images">
            <img src="static/wedphoto/22.jpg" alt="">
        </div>
        <div class="grid-images">
            <img src="static/wedphoto/23.jpg" alt="">
        </div>
        <div class="grid-images">
            <img src="static/wedphoto/24.jpg" alt="">
        </div>
        <div class="grid-images">
            <img src="static/wedphoto/25.jpg" alt="">
        </div>
        <div class="grid-images">
            <img src="static/wedphoto/26.jpg" alt="">
        </div>
        <div class="grid-images">
            <img src="static/wedphoto/27.jpg" alt="">
        </div>
        <div class="grid-images">
            <img src="static/wedphoto/28.jpg" alt="">
        </div>
        <div class="grid-images">
            <img src="static/wedphoto/29.JPG" alt="">
        </div>
        <div class="grid-images">
            <img src="static/wedphoto/30.jpg" alt="">
        </div>
    </div>
    <br>


    <!-- Review here -->
    <br>
    <br>

    <style>
        .textsz{
            font-size: 18.5px;
        }
    </style>

    <figure class="text-center">
        <blockquote class="blockquote">
        <p class=".textsz">OUR COSTUMERS LOVE US !</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            <a href="{{url_for('contact_page')}}">Want to inquire our price list?<cite title="Source Title"></cite></a> 
        </figcaption>
    </figure>





    <div class="rev-section">
    <div class="reviews">
        <div class="review">
            <div class="head-review">
                <img src="static/wedphoto/27.jpg" 
                width="">
            </div>
            <div class="body-review"> 
                <div class="namve-review">Robert & Kyla</div>
                <div class="place-review"> New Jersey</div>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="desc-review">Baba was absolutely AMAZING!!! 
                    he knew exactly where to place us to get the perfect 
                    shots! Thank you so much Baba for making 
                    my wedding so magical! I can’t 
                    wait to recommend this company to all my friends!
                </div>
            
        </div>
        </div>
        <div class="review">
            <div class="head-review">
                <img src="static/wedphoto/14.jpg" 
                width="">
            </div>
            <div class="body-review"> 
                <div class="namve-review">Jhon & Liam</div>
                <div class="place-review">New York</div>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="desc-review">Thank you so much for taking care of us on our wedding day! 
                    From very first picture all the way through most of the reception, 
                    your photographer continued to take amazing shots and make our guests 
                    feel comfortable to get some really special photos. We are so happy with 
                    our pictures !
                </div>
            </div>
        </div>
        <div class="review">
            <div class="head-review">
                <img src="static/wedphoto/7.jpg" 
                width="">
            </div>
            <div class="body-review"> 
                <div class="namve-review">Brandon & Claire </div>
                <div class="place-review">Virginia</div>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="desc-review">The absolute best experience and results! 
                    Baba is so sweet and talented he makes the whole process an amazing one! 
                    I got a looking back film made by him and I had tears to my eyes watching it. 
                    The way he captured our love story was truly incredible. They make sure their 
                    clients are happy and they genuinely care about them! 
                    I recommend this company a million times!
                </div>
            </div>
        </div>
    </div>
    </div>



{% endblock %} 