{% extends 'base.html' %}
{% block one %}

<br>
<br>


</style>
<!-- review goes here -->

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div style="padding:56.25% 0 0 0;position:relative;">
                <iframe src="https://player.vimeo.com/video/606008442?h=e668411f90&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Full of memories"></iframe>
            </div>
                <script src="https://player.vimeo.com/api/player.js"></script>
        </div>
        <div class="col-sm-4">
            <div class="review">
                <div class="body-review"> 
                    <div class="namve-review">Vuqar & Ezo</div>
                    <div class="place-review">New York</div>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="desc-review">I couldn't have imagined how thankful 
                        I would be, to have video footage of our day. 
                        Baba was able to capture every detail, was so much fun to work with, 
                        and had really creative ideas which made for some both hilarious and 
                        fun footage that we will have forever. We were so pleased with 
                        how reliable he was, and how well he wrangled our group together for 
                        fun shots. Thanks Baba! 
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <div style="padding:56.25% 0 0 0;position:relative;">
                <iframe src="https://player.vimeo.com/video/127366763?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;h=556a0e72b2" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Emin &amp;amp; Sevinc wedding day"></iframe>
            </div>
                <script src="https://player.vimeo.com/api/player.js"></script>
        </div>
        <div class="col-sm-4">
            <div class="review">
                <div class="body-review"> 
                    <div class="namve-review">Emin & Sevindj</div>
                    <div class="place-review">Azerbaijan</div>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="desc-review">Amazing service.  They captured exactly what I was looking for.  
                        Baba and his crew are extremely professional and creative.  
                        I highly recommend them to anyone wanting a quality video production.  
                        We plan on using them again in the near future. 
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div style="padding:56.25% 0 0 0;position:relative;">
                <iframe src="https://player.vimeo.com/video/106086132?h=9ef8f1e9b8&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Ruslan and Saida wedding day"></iframe>
            </div>
                <script src="https://player.vimeo.com/api/player.js"></script>
        </div>

        <div class="col-sm-4">
            <div class="review">
                <div class="body-review"> 
                    <div class="namve-review">Ruslan & Saida</div>
                    <div class="place-review">Azerbaijan</div>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>    
                    </div>
                    <div class="desc-review">Gorgeous! Everything was great! He knows when to take the best shot. 
                        He filmed everything we wanted and then some. Very creative great work and a very nice guy to work with.  
                            
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div style="padding:56.25% 0 0 0;position:relative;">
                <iframe src="https://player.vimeo.com/video/91088167?h=7a237c36fe&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Теймур &amp;amp; Гюля - Истории любви"></iframe>
            </div>
                <script src="https://player.vimeo.com/api/player.js"></script>
        </div>
        <div class="col-sm-4">
            <div class="review">
                <div class="body-review"> 
                    <div class="namve-review">Teymur & Gulia</div>
                    <div class="place-review">Russia</div>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>    
                    </div>
                    <div class="desc-review">Baba is extremely professional and the finished product is nothing but the best. 
                        I will definitely use them again in the future! 
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

